.report-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.report-container {
    margin: 50px 0 50px 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.554);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 55vw;
}
.report-table{
    border-collapse: separate;
    width: calc(100% - 40px);
    margin: 0px 20px;
}

.report-table tr:last-child{
    border-bottom: none;
}

.report-table td {
  padding: 8px;
  font-size: 17px;
  display: flex;
  align-items: center;
}
.report-table tr {
    background-color: rgba(103, 153, 180, 0.126);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 8px; 
    margin: 5px 0; 
} 

.report-table tr:hover { 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); 
    background-color: rgba(103, 153, 180, 0.126);
    transform: scale(1.02); 
    cursor: pointer;
}


.report-table-row {
    display: flex;
    justify-content: space-between;
}
.report-table-row td:first-child {
    font-weight:400;
    width: 80%;
    /* color: rgb(0, 0, 54); */
    text-align: left;
    margin-left: 15px;
}
.report-table-row td:nth-child(2) {
    width: 20%;
    text-align: center;
    margin-right: 15px;
}

.report-status-btn {
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    width: 8vw;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

.report-status-btn.assigned {
    background-color: grey;
}

.report-status-btn.pending {
    background-color: #E59D29;
}

.report-status-btn.completed {
    background-color: green;
}




/* Slide-in animation for popup */
@keyframes slide-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.report-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

.report-btn button {
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:10vw;
}


/* Responsive Design */
@media (max-width: 500px) {
  .mytask-popup-container {
    width: 90%;
    padding: 15px;
  }

  .head4 h4 {
    font-size: 1rem;
  }

  .report-btn button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

.report-status-btn.not-assigned {
  width:10vw;
  background-color: rgb(254, 86, 86);
}